.card
  display: flex
  justify-content: center
  flex-direction: column
  max-width: 315px
  cursor: pointer

.card:active
  cursor: move
img
  width: 100%
  max-width: 264px
  height: auto

.checked
  border-radius: 50%
  text-align: center
  width: 32px
  height: 32px
  background: #4C4CFF
  line-height: 32px
  position: relative
  left: 100%

.currency
  display: flex
  width: 100%
  justify-content: center
  span
    margin-right: 9px

.cardName
  text-align: center
  max-width: 264px
  margin: 0px !important
  width: 100%
  display: block
  word-break: break-word
